body
{
  overflow-y: hidden;
}

.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.scroll-bar-icon
{
  position: absolute;
  transform: scale(1);
  left: 18%;
  color: white;
  
  @-webkit-keyframes rotation {
      0%,10%     {-webkit-transform: rotate(0deg);}
      90%,100%   {-webkit-transform: rotate(90deg);}
  }
}


.section:nth-child(1)
{
  color: white;
  background-position: center center;
}

.section:nth-child(3) {
  background-image: url('https://ornate-kulfi-0f8d23.netlify.app/assets/bg-home-section3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar
{
    display: none;
}
.video-container{
    height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bg-videos{
  position: absolute;
  z-index: 0;
  width: 100%;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%
}

.content-home{
  position: relative;
}

.navigation img{
  width: 10em;
}

.content-home h1{
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 2.5em;
}

.content-home hr{
  border: 1px solid var(--Thistle);
}

.container-img-platform{
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img-platform{
  width: 10rem;
}

.section:nth-child(2) {
  background-image: url('https://ornate-kulfi-0f8d23.netlify.app/assets/bg-home-section2.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
  color: var(--Thistle);
  background-position: center center;
}

.characters-group{
  width: 90%;
  height: 90%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.characters-group-title{
  width: 100%;
}

.character-btn{
  text-align: right;
}
.character-title{
  text-align: center;
}

.character-slider{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.characters-group-title{
  text-align: right;
}

.btn-character-detail
{
    padding: 1em;
    border-radius: 1.5em;
}
.container-character
{
  height: 100%;
  /* background-image: url('assets/new-character-2.svg'); */
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: bottom;
}

.character-group-left{
  width: 50%;
}
.character-group-right{
  width: 20%;
  text-align: right;
  font-size: 1em;
}

.section:nth-child(3) .row-weapons .col h1
{
  color: var(--Thistle);
  font-size: 3.5em;
}

.row-weapons
{
  display: flex;
  width: 100%;
  height: 100%;
}

.weapons-controller
{
  justify-content: space-evenly;
}

.container-weapons
{
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Thistle  );
}

@media screen and (max-width: 576px) {

.section:nth-child(2)
{
  background-position: center center;
}

  .section:nth-child(3) .row-weapons .col h1 {
    padding: 3em!important;
    font-size: 1.5em!important;
  }
  
  .content-home h1
  {
    font-size: 2em!important;
  }
  .section:nth-child(2) {
      height: 40vh!important;
    }
  
    .character-btn {
      text-align: center;
    }
  
    .btn-character-detail {
      display: none;
    }
  
    .character-title h1 {
      font-size: 1em!important;
    }
  
    .navigation-character-slider-left img {
      /* display: none; */
      max-width: 2em!important;
    }
  
    .navigation-character-slider-right img {
  
      /* display: none; */
      max-width: 2em!important;
    }
    .character-group-left h1 {
      font-size: 1em!important;
    }

    .character-group-left img {
      width: 1em!important;
    }

    .character-group-right p {
      font-size: 1em!important;
    }

    .weapons-controller
    {
      flex-direction: column!important;
    }

    .container-weapons h6 {
      font-size: 1em!important;
    }

    .container-weapons
    {
      padding:2em!important;
    }

    .weapons-controller
    {
      padding: 2em  0 2em 0;
    }
}


@media screen and (max-width: 1024px) {
  body
  {
      overflow-y: scroll;
  }

  .scroll-bar-icon
  {
    display: none;
  }
  .outer-wrapper {
      width: 100%;
      height: 100%;
      transform: rotate(0) translateX(0);
      transform-origin: none;
      overflow-y: scroll;
      overflow-x: none;
      position: static;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-snap-type: x mandatory;
    }
  
    .wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      transform: rotate(0) translateY(0);
      transform-origin: none;
    }

    .section {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      scroll-snap-align: center;
    }
  .content-home h1 {
      text-align: center;
      padding: 1em 0 1em 0;
      font-size: 0.8em;
  }

    .content-home hr{
      display: none;
    }
    .container-img-platform {
      padding-top: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  
    .img-platform {
      width: 10rem;
      padding: 0.5em;
    }
    
    .section:nth-child(2)
    {
      height: 50vh;
    }
    .character-btn {
      text-align: center; 
    }
    .btn-character-detail
    {
      display: none;
    }

    .character-title h1
    {
      font-size: 3em;
    }

    .navigation-character-slider-left img{
      /* display: none; */
      max-width: 5em;
    }
    
    .navigation-character-slider-right img {
      
      /* display: none; */
      max-width: 5em;
    }
    
    .character-group-left
    {
      width: 100%;
      margin: 0;
      position: relative;
      top: -40px;
    }
    
    .character-group-left h1
    {
      font-size: 2em;
    }
    .character-group-left img{
      width: 1.5em;
    }
    .character-group-left .stars
    {
      display: flex;
    }

    .character-group-right
    {
      width: 100%;
      position: relative;
      top: -40px;
    }
    .character-group-right p{
      font-size: 1em;
    }

    .section:nth-child(3) .row-weapons .col h1 {
      color: var(--Thistle);
      padding: 1em;
      font-size: 1em;
    }
    .row-weapons{
      flex-direction: column;
      height: 100%;
    }

    .section:nth-child(3)
    {
      height: 100%;
    }

    .section:nth-child(3) .row .col h1 {
      color: var(--Thistle);
      font-size: 1.5em;
    }

    .weapons-controller {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .container-weapons {
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--Thistle);
    }

    .container-weapons img{
      width: 100%;
    }
    .container-weapons h6{
      font-size: 0.5em;
    }
}