.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.maps-detail
{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tengah
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('/assets/monstadt-maps-detail.svg');
background-size: cover;
background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.maps-detail-content
{
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-logo-mapsdetail
{
    width: 20%;
}
.img-arrow-mapsdetail
{
    width: 70%;
    height: 10%;
    margin-bottom: 1em;
}

@media screen and (max-width: 1024px) {
    .maps-detail {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url('/assets/monstadt-maps-detail.svg');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tengah {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .maps-detail-content {
        width: 50%;
        height: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .maps-detail-content h1
    {
        font-size: 1.5em;
    }

    .maps-detail-content p
    {
        font-size: 0.8em;
    }

    .img-logo-mapsdetail {
        min-width: 60%;
    }

    .img-arrow-mapsdetail {
        min-width: 70%;
        height: 10%;
        margin-bottom: 1em;
    }
}