*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/hywenhei');

body
{
    font-family: 'HYWenHei', sans-serif;

}

footer
{
    background-color: #191D2C;
    height: 100%;
    width: 100vw;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.row-footer
{
    display: flex;
    flex-direction: row;
}
.footer-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 90px;
}

.footer-content .logo
{
    line-height: 2.1rem;
}

.socials
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li
{
    margin: 0 10px;
}

.socials li a
{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    width: 35px;
    font-size: 1.4rem;
}
.socials a:hover
{
    color: aqua;
}
.rules-policy
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.rules-policy li
{
    margin: 0 10px;
}

.rules-policy li a
{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    width: 35px;
    font-size: 1.4rem;
}

.legal
{
    text-align: center;
    margin-bottom: 5em;
}
.legal img
{
    width: 16em;
    margin-bottom: 3em;
}

.legal p
{
    max-width: 1250px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.mid-content
{
    margin-bottom: 20px;
}

.mid-content ul
{
    display: flex;
    justify-content: center;
}

.mid-content ul li
{
    padding-right: 10px;
    display: block;
}

.mid-content ul li a
{
    padding: 6px 15px;
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
}

.os li
{
    margin: 0 20px;
    list-style-type: none;
}

.hoyo-logo
{
    text-align: center;
    margin-bottom: 1em;
}

.hoyo-logo img
{
    width: 30em;
}

.footer-bottom
{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    bottom: 0;
}

@media (max-width: 1024px)
{
    .row
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .row-footer
    {
        flex-direction: column;
    }
    .mid-content ul
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .mid-content ul li
    {
        margin-bottom: 10px;
    }
    .socials
    {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .socials li
    {
        margin: 0 10px;
    }

    .socials li a
    {
        text-decoration: none;
        color: #fff;
        padding: 8px;
        width: 35px;
        font-size: 20px;
    }

    .rules-policy li a
    {
        font-size: 18px;
        text-align: center;
    }
    .hoyo-logo img
    {
        width: 15em;
    }
    .legal img
    {
        width: 10em;
        margin-bottom: 3em;
    }
    .mid-content ul li a
    {   
        text-decoration: none;
        font-size: 2rem;
        color: #fff;
    }
    .legal
    {
        text-align: center;
        margin-bottom: 2em;
    }
    .legal img
    {
        width: 13em;
        margin-bottom: 3em;
    }

    .legal p
    {
        max-width: 1250px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 12px;
    }

    footer
    {
        background-color: #191D2C;
        height: 123vh;
        width: 100vw;
        color: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
    }
    .footer-content
    {
        margin-top: 120px;
    }
}