*
{
    margin: 0;
    display: 0;
    box-sizing: border-box;
}

.container
{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y:scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
}

.wrapper
{
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background-image: url(assets/about-us/Rectangle\ 98.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.row-about

{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.about-content
{
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    color: #fff;
}

.features
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}


.card-right
{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: right;
}
.card-left
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-center
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-center .card-text p
{
    text-align: left;
    max-width: 600px;
    margin-left: 50px;
}

.card-text h2
{
    text-align: center;
}

.card-left .card-text p
{
    text-align: left;   
    max-width: 600px;
    margin-left: 50px;
}

.card-text h2
{
    text-align: center;
}

.card-right .card-text p
{
    text-align: left;
    max-width: 600px;
    margin-right: 50px;
}

.features-title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: 5em;
}

.features-title h1
{
    padding: 1em 0 1em 0;
    text-align: center;
}

::-webkit-scrollbar
{
    display: none;
}

.banner-about
{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-about;
    justify-content: center;
    background-image: url(assets/image\ 17.png);
    background-size: auto;
    background-repeat: no-repeat;
}


.bg-banner 
{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.bg-banner img
{
    width: 100%;
}

@media screen and (max-width: 1024px)
{
    .container
    {
        width: 100%;
        height: 100%;
        transform: rotate(0) translateX(0);
        transform-origin: none;
        overflow-y: scroll;
        overflow-x: none;
        position: static;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scroll-snap-type: x mandatory;
    }

    .wrapper
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: rotate(0) translateY(0);
        transform-origin: none;
    }

    .row-about
    {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-align: center;
    }
    
    .banner-about
    {
        background-size:cover;
        background-repeat: no-repeat;
    }

    .about-content
    {
        height: 100vh;
        width: 100vw;
    }
    
    .card-left
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .card-right
    {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .card-center
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .card-text
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .card-left .card-text p
    {
        text-align: left;   
        max-width: 400px;
        margin-left: 0px;
    }
    .card-right .card-text p
    {
        text-align: center;   
        max-width: 400px;
        margin-left: 0px;
    }

    .card-center .card-text p
    {
        text-align: center;   
        max-width: 400px;
        margin-left: 0px;
    }

    .card-img
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-img img
    {
        width: 50%;
        height: 100%;
    }

    .card-img-center
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card-img-center img
    {
        width: 50%;
        height: 50%;
    }
}