/* .char-container
{
    height: 100vh;
    width: 100vw;
}

.wrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.char-card-container
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
} */

body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    justify-content: center;
}

.slide-container
{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background: linear-gradient(to right, rgb(255,65,100), rgb(255, 65,108), rgb(255,75,43));
}

.image-slider
{
    width: 100%;
    height: 600px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
    position: absolute;
} 

.slides-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img-chara
{
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
    filter: saturate(10%);
}

.btn-image
{
    position: absolute;
    width: 240px;
    height: 370px;
    transition: .5s;
    background-color: rgb(0,0,0, .4);
}


.btn-image:hover
{
    background-color: rgb(0,0,0, .2);
}

#slider-span-1:target ~ .image-slider #image,
#slider-span-1:target ~ .image-slider #imageBtn
{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span-2:target ~ .image-slider #image-1,
#slider-span-2:target ~ .image-slider #imageBtn1
{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span-3:target ~ .image-slider #image-2,
#slider-span-3:target ~ .image-slider #imageBtn2
{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span-4:target ~ .image-slider #image-3,
#slider-span-4:target ~ .image-slider #imageBtn3
{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span-5:target ~ .image-slider #image-4,
#slider-span-5:target ~ .image-slider #imageBtn4
{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span-6:target ~ .image-slider #image-5,
#slider-span-6:target ~ .image-slider #imageBtn5
{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span-7:target ~ .image-slider #image-6,
#slider-span-7:target ~ .image-slider #imageBtn6
{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

/* image positioning */

#slider-span-1:target ~ .image-slider
{
    left: 10%;
}

#slider-span-2:target ~ .image-slider
{
    left: 25%;
}
#slider-span-3:target ~ .image-slider
{
    left: 25%;
}
#slider-span-5:target ~ .image-slider
{
    left: -25%;
}
#slider-span-6:target ~ .image-slider
{
    left: -50%;
}
#slider-span-7:target ~ .image-slider
{
    left: -70%;
}